@use "abstracts/mixins";
@use "abstracts/functions";
@use "abstracts/variables";

footer {
  padding: functions.rem(48) 0;
  .footer-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    .footer-icon-stack {
      background-color: #212529;
      border-radius: 50%;
      padding: 25px;
      &:hover {
        background-color: #0085a1;
      }
    }
  }
  .copyright-text {
    font-family: "Lora", serif;
    font-style: italic;
    text-align: center;
    font-size: functions.rem(14px);
  }
}
